mono_crash.mem.*
.vscode/
Temp/
UserSettings/
Library/
Logs/
obj/
Build/
Builds/
.vs/
.vsconfig
*.csproj
*.sln
*.slnx
/.utmp
*.zip
*.apk
RuntimeActionBindings.json
RuntimeActionBindings.json.meta
ProjectSettings\Packages\com.unity.testtools.codecoverage\Settings.json
PerformanceTestRun*.*
StreamingAssets*
buildInfo.txt
Packages/packages-lock.json
PassthroughCameraApiSamples/
.DS_Store
Assets/_Recovery/
Assets/_Recovery.meta